@import "../../styles/variables.less";

@defaultOffset: 15px;
@modalMaxWidth: 800px;

.modal {
  position: absolute;
  margin: 0 auto;
  max-width: @modalMaxWidth;
  background-color: @white;
  box-shadow: 0 0 15.8px 0.2px rgba(0, 0, 0, 0.13);

  top: @TopBarHeight/2;

  .mobile({
    left: @defaultOffset;
    right: @defaultOffset;
  });

  .tablet-portrait({
    left: @defaultOffset * 2;
    right: @defaultOffset * 2;
  });

  .desktop({
    left: 0;
    right: 0;
  });
}

.modal_flex {
  .desktop({
    .flex(row);
    flex-wrap: nowrap;
  });
}

.close {
  .with-image();
  position: absolute;
  width: 20px;
  height: 20px;
  right: 13px;
  top: 13px;
  .mobile({
    width: 10px;
    height: 10px;
    right: 3px;
    top: -3px;
  });
}

.image {
  .with-image();
  padding: 40px 40px 30px;
  .mobile({ padding: 15px; });
}

.header {
  font-size: 46px;
  .mobile({ font-size: 28px; });
  font-weight: bold;
  line-height: 1.07;
  padding-bottom: 18px;
}

.content {
  font-size: 16px;
}

.extra {
  padding: 0 0 18px 0;
}

.row {
  padding: 0 40px 40px;
  .mobile({ padding: 0 15px; });

  .tablet-portrait({
    &:last-child { padding: 0; }
  });

  .desktop({
    &:last-child {
      width: 250px;
      margin: 0 40px 40px 0;
      padding: 0;
      flex-shrink: 0;
    }
  });
}